body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f8f9fa;
}

.google-logo {
    margin-top: 215px;
}

.search-box {
    margin: 10px auto;
    width: 500px;
    max-width: 90%;
    color: darkgray;
    position: relative;
}

.search-input {
    width: 100%;
    padding: 10px 20px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 24px;
    outline: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding-right: 40px;
}

.search-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    pointer-events: none;
}

.button-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 40px;
}

.search-button {
    background-color: rgb(50, 50, 50);
    color: #202124;
    font-size: 14px;
    padding: 10px 16px;
    margin: 5px;
    cursor: pointer;
    color: white;
    border-radius: 5px;
    outline: 1px;
    outline-style: double;
    outline-color: black;
    width: 150px;
    height: 40px;
}

.search-button:hover {
    outline-color: white;
}


.help {
    width: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;

}
.navbar {
    justify-content: right;
    margin-left: 90%;
}

.navtext {
    color: white;
    margin-left: 10px;
    font-size: 13px;
    font-family: arial, sans-serif;
    text-decoration: none;
    

}

.navtext a:hover{
    text-decoration: underline;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: rgb(20, 20, 20);
    border-top: 1px solid #444746;
    width: 100%;
    position: absolute; 
    bottom: 0; 
    left: 0; 
    z-index: 10;
}

.footer-left, .footer-right {
    display: flex;
    gap: 15px;
}

footer a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

footer a:hover {
    text-decoration: underline;
}

.footer-left{
    margin-right: 73%;
}

